body { background-color: aquamarine;
    color: #000000; 
    font-family: arial, helvetica, sans-serif;
}

h1 {
    border: 2px solid rgb(0, 92, 128);
    font-size: 20px;
}   

.soft-border { border: 2px solid green;}              

.box-1 {
    background-color: #000 color azure;
    border-right:5px cornflowerblue solid;
    border-left:5px cornflowerblue solid;
    border-top:5px cornflowerblue solid;
    border-bottom:5px cornflowerblue solid;

    border-width: 5px;

    padding: 20px;
    margin: 35px 5px;    
} 
title {color: darkblue; }

@media (min-width: 600px) { 
    p {
        background-color: blue;
    color: white; 
    font-size: 1.25rem;
    }

   }
   @media (min-width: 750px) { 
    p {
        background-color: blue;
    color: white; 
    font-size: 1.75rem
    line-height 1,5;   
    } 
    }